@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styling */
body {
    font-family: 'Arial', sans-serif; /* More professional font */
    text-align: center; /* Center all elements */
    background-color: #f0f8ff; /* Subtle background color for distinction */
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

/* Dropdown and Submit button */
select, button {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Table Styling */
table {
    width: auto; /* Make table width auto to be compact */
    margin: 20px auto; /* Center the table */
    border-collapse: separate;
    border-spacing: 0;/* Remove extra space in tables */
    background-color: #ffffff; /* Distinct background color for the table */
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 10px 15px; /* Trim unneeded space */
    text-align: left; /* Align table headers to the left */
    border: 1px solid #ccc; /* Clearer table borders */
}

th {
    background-color: #4328EB; /* Different background color for header */
    color: white;
    border-top-left-radius: 5px; /* Round top-left corner */
    border-top-right-radius: 5px; /* Round top-right corner */
}


tr:last-child td:first-child {
    border-bottom-left-radius: 5px; /* Round bottom-left corner */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px; /* Round bottom-right corner */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Slight difference in row colors */
}

/* Big Button Styles */
.button-big {
  padding: 20px 40px; /* Padding all around, top-bottom and left-right */
  margin: 10px; /* Space around the button */
  background-color: #4328EB; /* Green background */
  color: white; /* White text */
  border: none; /* Removes border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 30px; /* Larger font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Small Button Styles */
.button-small {
  padding: 10px 20px; /* Smaller padding all around */
  margin: 10px; /* Space around the button */
  background-color: #4328EB; /* Green background */
  color: white; /* White text */
  border: none; /* Removes border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px; /* Smaller font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Hover State for Both Buttons */
.button-big:hover, .button-small:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Active State for Both Buttons */
.button-big:active, .button-small:active {
  background-color: #3e8e41; /* Even darker green when pressed */
}